* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
    /* width: 100vh; */
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    text-align: center;
   
    
}
.main h1 {
    font-size: 64PX;
    margin-bottom: 8PX;
    font-weight: 500;
    line-height: 1.2;
}

.main span {
    font-size: 96PX;
    margin-bottom: 8PX;
    font-weight: 500;
    line-height: 1.2;
}

.btn1 {
     width: 40px;
  height: 40px;
  background-color: #dc3545;
  color: white;
  border: none;
   font-size: 16px;
    font-weight: 800;
    border-radius: 5px;
    padding: 6px 12px;
  text-align: center;
  cursor: pointer;
  transition: all .15s ease-in-out;
}
.btn2 {
  width: 68px;
    height: 40px;
    font-size: 16px;
    background-color: #6c757d;
    color: white;
    border-radius: 5px;
     border: none;
     font-weight: 400;
     padding: 6px 12px;
      text-align: center;
      cursor: pointer;
      transition:color 0.5s ease-in;
}
.btn1:hover {
background-color: #b02a37;

}
.btn2:hover {
background-color:  #5c636a;
}
/* body {
  font-family: sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  width: 100vh;
}
.main h1 {
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 1.5;
  font-size: 64px;
}
.main span {
  font-size: 96px;
}
.button {
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 4px;
}

/* .btn1 {
  width: 30px;
  height: 30px;
  background-color: #dc3545;
  color: white;
  border: none; */
  /* font-size: 16px;
    font-weight: 400;
    border-radius: 5px; */
  /* padding: 6px 12px; */
  /* text-align: center; */
 */
/* .btn2 {
  /* width: 50px;
    height: 30px;
    font-size: 16px;
    background-color: #6c757d;
    color: white;
    border-radius: 5px;
     border: none;
     font-weight: 400;
     padding: 6px 12px;
      text-align: center; */
 *
