* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:sans-serif ;
    text-align: center;
     font-size: 16px;
     font-weight: 400;
     line-height:1.5 ;
     color: #212529;
}
.main h1 {
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 1.5;
    font-size: 64px;
}
.main span {
    font-size: 96px;
}

.btn1 {
    width: 30px;
    height: 30px;
    background-color: #dc3545;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    /* padding: 6px 12px; */
    text-align: center;


}
.btn2 {
    width: 50px;
    height: 30px;
    font-size: 16px;
    background-color: #6c757d;
    color: white;
    border-radius: 5px;
     border: none;
     font-weight: 400;
     /* padding: 6px 12px; */
      text-align: center;
    
}
.btn3 {
    
}